*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    background-color: violet;
   
}
body{
    
    background-color: #591eb7;
    color: hsl(0, 30%, 52%);
   overflow: hidden;
   overflow-y: scroll;
  
}

